.footer {
    &__wrapper {
        padding: 129px 143px 70px 143px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title {
        padding-bottom: 16px;
    }
    &__link {
        display: block;
        padding-bottom: 8px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__input {
        padding: 8px;
        border: none;
        border-bottom: 1px solid #C4C4C4;
    }
    &__button {
        cursor: pointer;
        border: 1px solid #333333;
        background: #FFFFFF;
        width: 150px;
        height: 36px;
        align-self: flex-end;
        &:hover {
            transition: 0.3s all;
            background: #333333;
            color: #fff;
        }
    }
}