.fz-24 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #333333;
}

.fz-22 {
    font-size: 22px;
    line-height: 16px;
    font-weight: 700;
}

.fz-18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.fz-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}

.fz-14 {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: normal;
}

.fz-12 {
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    font-weight: normal;
}